
html {
   background: url("helenafightclub.gif") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
   background-color: black;  
}

#entry{
   background-color: rgba(255,0,0,0);
   color: white;
   text-align: center;
   /*position: center;*/
   position: absolute;
   height: 200px;
   width: 400px;
   margin: -100px 0 0 -200px;
   top: 50%;
   left: 50%;

}

