
#top {
   background-color: #BA90D4;
   color:white;  
   font-weight: bold; 
}

#personalsettings {
   text-align: right;
}

#leftprofile {
   width: 50px;
   border: 5px solid #BA90D4;
   padding: 100px;
   margin: 25px;
   box-shadow: 5px 5px 5px 2px gray; 
   /* position: fixed; */
}

#content {
   color: #BA90D4;
   text-align: right;
   margin: 25px;
}

